<style>
md-content {
    display: block;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    bottom:0px;
}
</style>
<div layout="column" ng-controller="DemoCtrl as demo" ng-cloak="" class="fabSpeedDialdemoMoreOptions" ng-app="MyApp">
  <md-content md-theme="altTheme" class="" layout="column">

    <!-- <p class="intro">
      The speed dial supports many advanced usage scenarios. This demo shows many of them mixed
      together... and even includes a Toolbar - SpeedDial combination.
    </p> -->

    <md-toolbar >
      <h3>
        <md-button><a href="/#/wikipedia">Wikipedia</a></md-button>
        <md-button><a href="/#/atlas">Discover</a></md-button>
        <md-button><a href="/#/maps">Plan</a></md-button>
        <md-button hide-sm=""><a href="/#/cd">Booking</a></md-button>
        <md-button hide-sm=""><a href="/#/cd">Tracking</a></md-button>
        <md-button hide-sm="" hide-md=""><a href="/#/cd">Travelling</a></md-button>
        <md-button hide-sm="" hide-md=""><a href="/#/cd">After Trip</a></md-button>
        <md-button hide-sm="" hide-md=""><a href="/#/cd">Help</a></md-button>
      </h3>
    </md-toolbar>

    <md-fab-speed-dial hide-sm="" md-theme="calmapit" ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen" class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': demo.hover }" ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab" >
          <md-tooltip md-theme="altTheme" md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
          <md-icon md-svg-src="../../content/img/icons/menu.svg" aria-label="menu"></md-icon>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <div ng-repeat="item in demo.items">
          <md-button md-theme="altTheme" aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="demo.openDialog($event, item)">
            <md-tooltip md-theme="altTheme" md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
              {{item.name}}
            </md-tooltip>

            <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
          </md-button>
        </div>
      </md-fab-actions>
    </md-fab-speed-dial>
  </md-content>

  

  <script type="text/ng-template" id="dialog.html">
    <md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">Cool Dialog!</div>
      </md-toolbar>

      <md-dialog-content layout-padding>
        Hello user! you clicked {{dialog.item.name}}.
      </md-dialog-content>

      <div class="md-actions">
        <md-button aria-label="Close dialog" ng-click="dialog.close()" class="md-primary">
          Close Greeting
        </md-button>

        <md-button aria-label="Submit dialog" ng-click="dialog.submit()" class="md-primary">
          Submit
        </md-button>
      </div>
    </md-dialog>
  </script>

</div>