
<md-toolbar md-theme="altTheme" class="app-toolbar md-whiteframe-z1">
    <!-- <div class="md-toolbar-tools nav-text" ng-click="openMenu()"> -->
    <div layout="row" layout-align="space-around center" class="nav-text">
        <h3 class="appTitle text-muted"><a href="#/intro"><img src="../../content/images/calmapit_icon_55.png"><img src="../../content/images/calmapit_logo1.png" alt="user image"/></a></h3>
        <span class="cli" active><a href="#/calendar" class="text">  Calendar  </a></span>
                <span class="cli" active><a href="/#/findevent">Map  </a></span>
                <span class="cli" active><a href="#/itinerary">Itinerary  </a></span>
                <span class="cli" active><a href="#/calmap">CalMap  </a></span>
                <!-- <span class="cli" active><a href="#/forecast">Weather  </a></span> -->
                <span class="cli" active><a href="#/travel">Travel  </a></span>
                <!-- <span class="cli" active><a href="#/instagram">Photos  </a></span> 
                <span class="cli" active><a href="#/posts">Blog  </a></span> -->
                <span class="cli" active><a href="#/todo">ToDo  </a></span>
                <span class="cli" active><a href="/#/addevent">+Event</a></span> 
    </div>

</md-toolbar>