
<div class="row-fluid" style=" background-color: rgb(33, 33, 33); padding-left: 80px; padding-bottom:60px;">
<div class="well">
                

        <!-- HEADER AND TODO COUNT -->
        <div class="row-fluid jumbotron text-center">
            <!-- <h1>You have <span class="label label-info">{{ todos.length }}</span> things to do!</h1> -->
        
        
        <h1>We have 
        <md-button md-theme="altTheme" class="md-fab md-hue-4 set-icon-fab" md-ripple-size="full" aria-label="ToDoCount">
            {{ todos.length }}
        </md-button>
        things to do!</h1>
        </div>
        <!-- TODO LIST -->
 <!--        <div id="todo-list" class="row">
            <div class="col-sm-8 col-sm-offset-4">
    -->             <!-- LOOP OVER THE TODOS IN $scope.todos -->
<!--                 <div class="checkbox" ng-repeat="todo in todos track by $index">
                    <label>

                        <input type="checkbox" ng-click="deleteTodo(todo._id)">Title: {{ todo.text }} 
                    </label>
                    <label>
                      <span class="category-{{todo.category}}">Category: {{todo.category}}</span>
                      
                    </label>
                </div>
            </div>
        </div> -->
         <md-list-item ng-repeat="todo in todos track by $index">
            <p> Title: {{ todo.text }} | <span class="category-{{todo.category}}">Category: {{todo.category}}</span> </p>
            <md-checkbox class="md-secondary" ng-click="deleteTodo(todo._id)"></md-checkbox>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
          <p>
        <!-- FORM TO CREATE TODOS -->

        <h3>Add New Todo's or tick them off to remove.</h3>
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form class="inline-block">
                    <div class="form-group">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <label class="">Title</label>
                        <input type="text" class="form-control add-input text-center" placeholder="I really need to do...." ng-model="formData.text">
                        
                        <!-- <md-input-container>
                          <label>Title</label>
                        </md-input-container> -->
                        <!-- <i class="fa fa-caret-down selectArrow"></i> -->
                        <!-- <select id="category" class="taskCategory add-input" ng-model="formData.category" ng-options="obj.name for obj in categories">
                            <option class="" value="{{obj.name}}">Choose a category</option>
                        </select> -->
                        <p>Category:
                         <md-radio-group data-ng-model="formData.category" layout="row">
                          <md-radio-button value="Shopping" class="md-primary">Shopping</md-radio-button>
                          <md-radio-button value="Booking"> To Book </md-radio-button>
                          <md-radio-button value="MustSee">Must See</md-radio-button>
                          <md-radio-button value="Other">Other</md-radio-button>
                        </md-radio-group>
                       
                        <!-- <label class="radio control-label">Category</label> -->
                   <!--      <div style="display: inline-block; background-color: #000000; color: #FFF;">
                        <md-radio-group ng-model="data.group1" layout="row">
                          <md-radio-button value="Business" class="md-primary" data-ng-model="formData.category">Business</md-radio-button>
                          <md-radio-button value="Family" data-ng-model="formData.category"> Family </md-radio-button>
                          <md-radio-button value="Other" data-ng-model="formData.category"> Other </md-radio-button>
                        </md-radio-group>
                        <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>
                        </div> -->
                        
                       <!--  <row style="display: inline-block;">
                        <div class="radio category-">
                            <label>
                                <input type="radio" name="optionsRadios" id="radiobusines" value="Business" data-ng-model="formData.category">
                                Business
                            </label>
                        </div>
                        <div class="radio category-" required>
                            <label>
                                <input type="radio" name="optionsRadios" id="radiofamily" value="Family" data-ng-model="formData.category">
                                Family
                            </label>
                        </div>
                        <div class="radio category-">
                            <label>
                                <input type="radio" name="optionsRadios" id="radioother" value="Other" data-ng-model="formData.category">
                                Other
                            </label>
                        </div>  
                        </row> -->
                    <!--     <md-select placeholder="Categories" ng-class="add-input" ng-init="formData.category = selected" ng-model="formData.category">
                            <md-option ng-repeat="(i,item) in categories" value="{{item}}"
                                       ng-selected="i == 0 ? true:false">{{item.Name}}</md-option>  $
                         </md-select> -->
                         <!-- <select class="form-control ng-pristine ng-valid" ng-init="formData.category = selected" ng-model="formData.category" ng-options="obj.name for obj in categories">
                           <option value="?"></option>
                           <option value="0">Inventory Not On Site</option>
                           <option value="1">Inventory On Site</option>
                           <option value="2">Ready For Pick-Up</option>
                           <option value="3">Sterilized For Surgery</option>
                        </select> -->
                        <!-- createToDo() WILL CREATE NEW TODOS -->
                        <!-- <md-button class="md-raised md-primary">Primary</md-button> -->
                        <md-button class="md-raised md-primary" ng-click="createTodo()" type="button">Add</md-button>
                        <!-- <button type="submit" class="add-btn" ng-click="createTodo()">Add</button> -->
                    </div>                    
                </form>
            </div>
        </div>
  <!-- </md-content> -->
  </div>
    