.todo-wrapper {
  background: #55B6AE;
  width: 100%;
}

h2 {
  font-size: 2em;
  font-family: megrim, fantasy;
  background: #1CA89C;
  padding: 40px;
  margin: 0;
  color: #333;
  text-align: center;
}

.emphasis {
  font-family: vast-shadow, sans-serif;
  font-size: 4em;
}


ul {
  padding: 0px;
  margin: 0px;
}

li {
  font-family: megrim, fantasy;
  font-size: 2em;
  padding: 40px;
  background: transparent;
  /* Old browsers */
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#65d8cb), to(#72f4e9));
  background: -webkit-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -moz-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -o-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: linear-gradient(#65d8cb 0%, #72f4e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d8cb', endColorstr='#72f4e9',GradientType=0 );*/
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

li input[type="checkbox"] {
  width: 40px;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.add-input {
  /*width: 50%;*/
  height: 20px;
  float: left;
  border: none;
  padding: 40px 0;
  font-size: 2em;
  font-family: megrim, fantasy;
  text-indent: 55px;
  color: #13756D;
  background-color:#FC3E3E;
  border-color: #13756D;
    
}
.taskCategory{
    width: 33%;
  height: 80px;
  float: left;
  border: none;
  padding: 40px 0;
  font-size: 2em;
  font-family: megrim, fantasy;
  text-indent: 55px;
  color: #13756D;
  background-color:#FC3E3E;
  border-color: #13756D;
  /*margin-top: 2px;*/
    
}

.todo-row {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #FC3E3E;
}

.add-btn {
    /*width: 33%;
    border-color: #FF9200;
    height: 100px;
    background: #13756D;
    font-size: 4em;
    font-family: megrim, fantasy;
    color: rgb(230, 113, 24);
    float: left;*/
      width: 100%;
      height: 80px;
      float: left;
      border: none;
      /*padding: 40px 0;*/
      font-size: 2em;
      font-family: megrim, fantasy;
      text-indent: 55px;
      color: #13756D;
      background-color:#FC3E3E;
      border-color: #13756D;
      border-radius: 5px;
    
}

.radio .control-label{
  width:140px;
  display: inline-block!important;
}
.add-btn h2 {
  background: #29F4E3;
  padding: 0;
  font-size: 4em;
  font-family: megrim, fantasy;
  color: #333;
}

.clear-btn {
    width: 50%;
    /* border: 5px; */
    /* border-color: rgb(245, 242, 242); */
    border-color: #FF9200;
    height: 100px;
    background: #13756D;
    font-size: 4em;
    font-family: megrim, fantasy;
    color: rgb(230, 113, 24);
    float: left;
    /*margin-right:5px;*/
    /* padding: 40px 0; */
}


.category- {
    background: transparent;
}

.category-Family {
    background: #2980b9;

}

.category-Business {
    background: #8e44ad;

}

.category-School {
    background: #f39c12;
}

.category-Cleaning {
    background: #16a085;
}

.category-Other {
    background: #d35400;

}

