html, body {
  height: 100%;
  color: rgba(0, 0, 0, 0.73);
  /* background: #ffffff; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  }


.blog-header-img{
	position: relative;
    top: 0;
    
    width: 100%;
   
}

.blog-title{
	padding-top: 10px;
	color: #fff;

}

.blog-title h1{
	font-family: 'Lato', sans-serif;
	font-size: 5em;
	padding-bottom: 0px;
	color: #673AB7;
}

.blog-title h4{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.75em;
	/*padding-bottom: 10px;*/
}

.post-title{
	font-family: 'Lato', sans-serif;
	font-size: 2.8em;
	padding-bottom: 10px;
}

.post-author{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	padding-bottom: 5px;
	color: #D2894B;
}

.blog-holder-catagory{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	/*color: #4F24AC;*/
}
.blog-holder-catagory :hover{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #4F24AC;
}

.blog-holder-title{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.blog-holder-author{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #555;
}

.blogSearch{
	width: 100%;
	background-color: #333;
	border: none;
	padding: 1%;
	font-size: 3em;
}

.blog-holder{
	/*margin-top: 160px;
	background: #fff;*/
	position: relative;
	/*z-index: 2;*/
	/*color: #CB3631;*/
}

.post{
	/*margin-top: 200px;*/
}

.postItem a{
	/*color: #FFF;*/
	text-decoration: none;
}

.postItem:hover a, .postItem:hover a .blog-holder-author, .postItem:hover a .blog-holder-catagory{
	color: #fff;
	text-decoration: none;
}

.postItem{
	width: 100%;
	background: transparent;
	padding: 1%;
	margin: 0;
	border: 1px;
	border-color: #4F24AC
}

.postItem:hover{
	background: #8ED3D6;
}

#post-intro{
	padding-top: 75px;
}

.close-post{
    position: absolute;
    top: 415px;
    right: 75px;
    width: 75px;
    height: 75px;
    background-color: #EEF30D;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    color: #112EDE;
    opacity: .7;
}

.close-post:hover {
    opacity: .3;
}

.close-post .lr {
z-index: 1051;
width: 1px;
height: 75px;
margin-left: 35px;
background-color: #3d3d3d;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.close-post .lr .rl {
z-index: 1052;
width: 1px;
height: 75px;
background-color: #3d3d3d;
-webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}