body {
  background: #1a1a1a;
}

svg {
  padding-top:10%;
}
  .st0{fill:#D1C3AD;}
  .st1{fill:none;stroke:#BEA884;stroke-width:2;stroke-miterlimit:10;}
  .st2{fill:#CD7640;}
  .st3{fill:none;stroke:#E0D2BE;stroke-width:2;stroke-miterlimit:10;}
  .st4{fill:#020204;}
  .st5{fill:#FFFFFF;}
  .st6{fill:#BCB5AB;}
  .st7{fill:#9E9993;}
    
