
.form-control-feedback{
  cursor:pointer;  
  color:#000000;
}

.card{
  cursor:pointer;
}

.card:hover{
    box-shadow: 1px 1px #000000;
}

.mic_span a{
  display:block;
  margin:10px;
}

.jumbotron{
  padding: 0.5em 0.6em;
}
.listen{
  color:red;
}
.tweet{
  display:inline-block;
}
.fa-twitter-square{
	color:#000000;
}