
<!-- <section style="width:80%"> -->
<!-- <md-content flex layout-padding md-theme="default"> -->
<div class="col-md-12" style="padding-left:50px; padding-right:30px;color:#000000; top: -240px;
    margin-bottom: 80px;
    background: #333333;">

<!-- <div class="jumbotron"> -->
  <!-- <div class="container"> -->
      <h4>{{title}} Event List</h4>
  <!-- </div> -->
<!-- </div> -->
<div class="container cal-form">
    <form>
        <div class="form-group">
            <label for="calID">Google Calendar ID:</label>
            <input id="calID" type="text" class="form-control" ng-model="calID" />
        </div>
        <button class="btn btn-default" ng-click="updateCal()">Submit</button>
    </form>
</div>
<div class="container calendar">
    <div class="row calendar" ng-repeat="(id, event) in events | limitTo: calItems" data-id="{{id}}">
        <div class="col-md-12">
            <div >
                <div class="well">
                    <p>
                        <i class="fa fa-clock-o"></i>
                        <span ng-if="event.start.date">{{event.start.date | date : calConfig.options.dateFormat }} to {{event.end.date | date : calConfig.options.dateFormat }}</span>
                        <span ng-if="event.start.dateTime">{{event.start.dateTime | date : calConfig.options.dateTimeFormat }} to {{event.end.dateTime | date : calConfig.options.dateTimeFormat }}</span>
                    </p>
                    <p ng-if="event.location">
                        <i class="fa fa-map-marker"></i>
                        <span>{{event.location}}</span>
                    </p>
                    <i class="fa fa-check-square-o"></i>
                    <span>{{event.summary}}</span>
                </div>


                <div ng-if="id == showDetails" class="details">
                    <div ng-include="'app/calmap/event.details.html'"></div>
                </div>
                <p ng-if="event.location || event.description">
                    <a class="btn btn-primary btn-large" ng-click="toggleDetails(id)">
                        <span ng-if="id != showDetails">More details</span>
                        <span ng-if="id == showDetails">Less details</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div ng-if="events.length > calItems">
        <button ng-click="showMoreItems()" class="center-block btn btn-info btn-large">
            Show more
        </button>
    </div>
</div>
<!-- </md-content> -->
</div>






