/* app css stylesheet */
html, body {
  height: 100%;
  color: rgba(0, 0, 0, 0.73);
background: #1A1A1A;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  }

.jumbotron{
    background-color: transparent;
    padding-top:45px;
    margin-bottom: -30px;
}

.well{
    color: #1db7d7;
    font-weight: normal;
    background-color: transparent;
    border: 1px solid ##21C8CE;
    border-radius: 4px;
    width: 80%;
    height:80%;
    margin-left: 30px:;
    /*float: right;*/
    /* top: 20px; */
    /* position: fixed; */
    /*left: 60px;*/
    right: 120px;
    overflow: auto;
}
.details{
    float: right;
    position: relative;
}
.cal-form{
    display: none;
}

a:hover {
    cursor: pointer;
}

div.well p:last-child {
    margin-bottom: 0;
}

div.row.calendar div.map {
    /*margin-bottom: 24px;*/
}
div.row.calendar div.map, div.row.calendar map {
    height: 400px;
    width:400px;
}

/* Animate the details box */

div.row.calendar div.details.ng-enter, div.row.calendar div.details.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    overflow: hidden;
}

div.row.calendar div.details.ng-enter, div.row.calendar div.details.ng-leave.ng-leave-active {
    max-height: 0;
}

div.row.calendar div.details.ng-enter.ng-enter-active, div.row.calendar div.details.ng-leave {
    /* Cannot CSS transition to max-height auto */
    max-height: 1000px;
}

div.row.calendar div.details h3 {
    /* Top margin of h3 tag causes a jump after animation finishes. */
    margin-top: 0;
}

div.container.calendar {
    padding-bottom: 32px;
}

.box{
    position: fixed;
    bottom:40px;
    width: 100%;
    height:800px;
    background: #000000;
    top:50px;
}
